/*table styling*/

.header .col {
  background-color:#4DACFF;
  text-transform: uppercase;
  font-weight: 600;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
  background-color: #494949;
  color: white;


}

.col:last-child {
  border-right: solid 1px grey;
  border-radius: 0 5px  5px 0;
}

.col:first-child {
  border-radius:  5px 0 0 5px ;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}


//edit button
.green-edit {
  background-color: #07bb8b;
}
