<ion-view>
  <ion-content>
  <p>Canvas:</p>
<div class="container">
    
      <a class="button" id="green" ng-click="color('green')">Green</a>
      <a class="button" id="blue" ng-click="color('blue')">Blue</a>
      <a class="button" id="red" ng-click="color('red')">Red</a>
      <a class="button" id="red" ng-click="erase()">Erase</a>
      <a class="button" id="red" ng-click="save()">Save</a>
  </div>  
<canvas id="myCanvas" width="400" height="400" style="border:1px solid #d3d3d3;">


</canvas>

<img id="canvasimg" ">
  </ion-content>
</ion-view>