<ion-view view-title="Dashboard" hide-back-button="true">
  <ion-content class="padding-top">

  <div class="row">
      <a class="col col-50 button button-balanced" href="#/viewTicket">
  <i class="ion ion-flag" style="font-size:60px"></i>
  Open Tickets:
  <span style="font-size:20px">{{homeController.openTicket}}</span>
</a>
    
 

 <!--  <a class="button button-balanced" href="#/viewTicket">
  <i class="ion ion-flag" style="font-size:60px"></i>
  Open Tickets:
  <span style="font-size:20px">{{homeController.openTicket}}</span>
</a> -->


<a class="col col-50 button button-assertive" href="#/viewTicket">
<i class="ion ion-chatbox" style="font-size:60px"></i>
  New Messages:
  <span style="font-size:30px">{{homeController.messageCount}}</span>
</a>
    
  </div>  
  
  <div style="margin-top:30px">
    <canvas id="myChart" width="300" height="300"></canvas>
    
  </div>

      
          
    <div class="list list-inset">
      <div class="item item-divider">
        User Dashboard
      </div>

      
      <a  style="border: 1px solid black; position:relative" class="item" href="#/ticket" class="button button-positive">
        <i  style="height:100%" class="icon ion-plus-round"></i> Add New Ticket
      </a>

      <a class="item" href="#/viewTicket" class="button button-positive">
        <i class="icon ion-eye"></i> View Tickets
      </a>

      <a class="item" href="#/profile" class="button">
        <i class="icon ion-ios-gear"></i> View Profile
      </a>

      <a class="item" ng-click="homeController.logOut()" class="button button-positive">
        <i class="icon ion-log-out"></i> Logout
      </a>

    </div>      
  </ion-content>
</ion-view>
