<ion-view title="Recent Tickets">
  <ion-content>

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchMessage">
      </label>

      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <div class="row header">
      <a class="col message-sort"
        href="#" ng-click="sortType = 'created_at';sortReverse = !sortReverse">
        Date 
      </a>
            
      <a class="col col-10 message-sort"
        href="#" ng-click="sortType = 'status';sortReverse = !sortReverse">
        Status
      </a>

      <a class="col message-sort"
        href="#" ng-click="sortType = 'message';sortReverse = !sortReverse">
        Issue 
        <span ng-show="sortType == 'message' && !sortReverse" class="ion-ios-arrow-down"></span>
        <span ng-show="sortType == 'message' && sortReverse" class="ion-ios-arrow-up"></span>
        <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
      </a>
              
      <a class="col message-sort"
        href="#" ng-click="sortType = 'priority';sortReverse = !sortReverse">
        Priority 
      </a>

      <div class="col">Dev Comment</div>
      <div class="col col-10"></div>
    </div>

    <div class="row" ng-repeat="message in viewTicketController.messages | orderBy:sortType:sortReverse| filter: searchMessage">

    <div class="col col-20">{{message.created_at | date : "MM/dd/yyyy" }}</div>
    <div class="col col-10">{{message.status}}</div>
    <div class="col">{{message.feature}}</div>
    <div class="col">{{message.priority}}</div>
    <div class="col">{{message.devMessage}}</div>
    <div class="col col-10">
      <a class="button button-small button-calm" ng-href="#/edit/{{message.$id}}">Edit</a>
      <a class="button button-small button-energized" ng-href="#/single/{{message.$id}}">View</a>
    </div>

  </ion-content>
</ion-view>