<ion-view view-title="New Ticket">
  <ion-content>
  <form ng-submit="newTicket()">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="feature causing problem" ng-model="ticket.feature">
      </label>
      <!-- <label class="item item-input">
        <input type="text" placeholder="Project Code" ng-model="ticket.project_code">
      </label> -->
      <label class="item item-input">
        <textarea style="color:black" placeholder="Describe the issue " ng-model="ticket.message"></textarea>
      </label>

      <!-- <ion-list>

      <ion-checkbox ng-model="tickets.image"  ng-false-value="iWish">image</ion-checkbox>
      
      

</ion-list> -->




      <label class="item item-input item-select">
        <div style="color:black" class="input-label">
          Priority of the problem
        </div>
        <select ng-model="ticket.priority">
          <option value="urgent">Urgent</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </label>

      <ion-list>
      <label class="item item-input item-select">
        <div style="color:black" class="input-label">
          images to upload
        </div>
        <select ng-model="tickets.image">
          <option value="true">Yes</option>
          <option value="false">No</option>
          
        </select>
      </label>
      </ion-list>

</div>


<button class="button button-balanced" ng-inti type="submit" >Submit</button>
    

  </form>
    

  </ion-content>
</ion-view>