<ion-view view-title="New Ticket">
  <ion-content>
  <form ng-submit="newTicket()">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="feature causing problem" ng-model="ticket.feature">
      </label>
      <!-- <label class="item item-input">
        <input type="text" placeholder="Project Code" ng-model="ticket.project_code">
      </label> -->
      <label class="item item-input">
        <textarea style="color:black" placeholder="Describe the issue " ng-model="ticket.message"></textarea>
      </label>
      <label class="item item-input item-select">
        <div style="color:black" class="input-label">
          Priority of the problem
        </div>
        <select ng-model="ticket.priority">
          <option value="urgent">Urgent</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </label>

</div>
<button class="button button-calm" type="submit">Submit Ticket</button>
<button class="button button-balanced"  type="submit" ng-href='#/upload'>Attach Image</button>
    

  </form>
    

  </ion-content>
</ion-view>