@import url(https://fonts.googleapis.com/css?family=Ubuntu);

/* Empty. Add your own CSS if you like */

.popup-body {
  background-color: grey;
}

.edit-green {
  color: green;
}

#green {
  color: green;
}

.edit-blue {
  color: blue;
}

#blue {
  color: blue;
}

.edit-red {
  color: red;
}

#red {
  color: red;
}

.larger {
    font-size: 120px;
}

.button.button-positive {
  border-radius:20px;

}

/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid black;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid black;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: black;
}

.testBack {
 background: -moz-radial-gradient(center, ellipse cover, #b2b2b2 0%, #636363 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #b2b2b2 0%,#636363 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #b2b2b2 0%,#636363 100%);
}

.blue-button {
   background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #07a0f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#07a0f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#07a0f2 100%);
border-radius: 10px;
border-bottom: 0px;

}



.icon18 {
  width: 50%;
}

.form-style-6{
    max-width: 800px;
    margin: 10px auto;
    padding: 16px;
}

.form-style-6 h1{
    padding: 20px 0;
    font-size: 200%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="password"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    font-family: 'Ubuntu', sans-serif;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    border-radius: 20px;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    padding: 3%;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 2%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}


/*table styling*/

.header .col {
  background-color:#4DACFF;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;

}

.col:last-child {
  border-right: solid 1px grey;
  border-radius: 0 5px  5px 0;
}

.col:first-child {
  border-radius:  5px 0 0 5px ;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.new span {
  background-color: green;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.message-sort {
  text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

.pane,
.view {
  background-color: #6E8898;
}

.bar.bar-positive {
  background-image: none;
  border: none;
}

.tabs-positive > .tabs,
.tabs.tabs-positive {
  background-color: #2e3f53;
}

.tabs-striped .tabs {
  border-color: #445569;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  color: #ffffff;
}

.tab-item {
  color: #9ea1a8;
}

.tab-item.middle {
  background-color: #519ec8;
  border-radius: 7px;
  color: #2e3f53;
  opacity: 1;
}

.tabs-striped .tabs .tab-item.middle {
  border-radius: 0;
}

.modal {
  background-color: rgba(54, 70, 93, 0.95);
}

.modal-backdrop-bg {
  background-color: #6E8898;
  opacity: 0;
}

@media (min-width: 680px) {
  .modal {
    background-color: transparent;
  }
  .active .modal-backdrop-bg {
    background-color: #6E8898;
    opacity: 0.98;
  }
  .icon18 {
    width: 30%;
}

}

.item,
.item-complex .item-content {
  background: #2E5266;
  color: #ffffff;
  text-align: left;
  border-color: #2E5266;
}

.item *,
.item-complex .item-content * {
  color: #ffffff;
}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
  border-color: #445569;
  background-color: #445569;
}

.card .item,
.item.item-input {
  background-color: #ffffff;
  color: #444;
}

.card {
  margin: 0 0 20px 0;
}

.profile-banner {
  background-image: url(http://ioniconf.com/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.profile-banner img {
  display: block;
  margin: auto;
  border: 5px solid #FFF;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.toggle input:checked + .track {
  background-color: #529ecc;
  border-color: #529ecc;
}

.toggle .track {
  background-color: #858d98;
  border-color: #858d98;
}

.toggle .handle,
.toggle input:checked + .track .handle {
  background-color: #6E8898;
  border-color: #6E8898;
  box-shadow: none;
}

.body-tumblr.platform-android .toggle .track {
  background-color: #1c232b;
  border-color: #858d98;
}

.body-tumblr.platform-android .toggle .handle {
  background-color: #ffffff;
  border-color: #6E8898;
  box-shadow: none;
}

.body-tumblr.platform-android .toggle input:checked + .track {
  background-color: rgba(81, 158, 200, 0.25);
}

.body-tumblr.platform-android .toggle input:checked + .track .handle {
  background-color: #519ec8;
}

.sideColor .item, .item-complex .item-content {
    background-color: #2E5266;
}

.bar.bar-stable {
    background-color: #2E5266;
    border-color: #2E5266;
    color: #D3D0CB;
}

.bar.bar-stable .title {
    color: #D3D0CB;
}

.button {
    font-family: 'Ubuntu', sans-serif;
}